{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Página de Cadastro</title>
</head>
<body>
    <div class="voltar">
        <a href="{% url 'pagina_principal' %}" class="voltar">Voltar</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Registrar</button>
    </form>
</body>
</html>