{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <link rel="icon" href="{% static 'imgs/icon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{% static 'ico/G.ico' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
    <a class="voltar" href="{% url 'pagina_principal' %}"><h2>Voltar</h2></a>
    <center>
    <h3>
        Conta Registrada
    </h3>
    </center>
</body>
</html>